<body bgcolor=#FFFF66>

<h2>CONGRATULATIONS!</h2>
<div>
<p>Good job, <%= session[:guestname] %>, you made it!</p>
</div>
Which of the images below would you like as your avatar, <%= session[:guestname] %>?

<br>
<form action='/select_avatar' method = 'post'>


<a><input name="avat" type="image" src='/images/m_r.jpg' ></a>
<a><input name="avat" type="image" src='/images/w_r.jpg' ></a>
<a><input name="avat" type="image" src='/images/m_b.jpg' ></a>
<a><input name="avat" type="image" src='/images/m_m.jpg' ></a>
<a><input name="avat" type="image" src='/images/w_m.jpg' ></a>
<a><input name="avat" type="image" src='/images/w_b.jpg' ></a>
</form>

<%= session[:avat] %>

</body>