<body bgcolor=#FFFF66>

<h2>Step Two:</h2>
<div>
<h4>Click on the image below you'd like as your avatar, <%= session[:guestname] %>.</h4>
</div>
<br>
<div class="well">

<form action='/select_avatar' method='post'>
    <img class="avatar-option"  src='/images/m_r.jpg' style="cursor: pointer;" />
    <img class="avatar-option"  src='/images/w_r.jpg' style="cursor: pointer;" />
    <img class="avatar-option"  src='/images/m_b.jpg' style="cursor: pointer;" />
    <img class="avatar-option"  src='/images/m_m.jpg' style="cursor: pointer;" />
    <img class="avatar-option"  src='/images/w_m.jpg' style="cursor: pointer;" />
    <img class="avatar-option"  src='/images/w_b.jpg' style="cursor: pointer;" />
</form>

</div>
</body>