<body  bgcolor=#999966>

<h1>Welcome to the Card Game!</h1>

</br>
Please enter your name:
<form action='/form' method = 'post'>

<input type='box' name='guestname' padding="10px">
</br>
<input type='submit' class='btn' value='click me'>
</form>
</br>

<input id='alert_me' type='submit' class='btn' value='alert test'>
</br>


</br>
<!--
<a href='/form'><img src='/images/tide.jpeg'></a>
<a href='/form'><img src='/images/bballplayer.jpg'></a>
<a href='/form'><img src='/images/net10wireless.jpg'></a> -->

</body>